.table-bordered {
    border: 0 !important;
}

.table-bordered > thead > tr > th {
    border: 0 !important;
    border-bottom: solid 1px #343a40 !important;
}

table.table-bordered.dataTable tbody td {
    border-bottom-width: 1px !important;
}

.table-bordered > tbody > tr > td {
    border: 0 !important;
    border-bottom: 1px solid #cccccc !important;
}

.table-md th, .table-md td {
    padding: 0.55rem;
    font-size: 14px;
}

.card-footer{
    border-top: 1px solid #dee2e6;
}

.btn{
    color: white !important;
}

td.details-control {
    background: url('../lib/datatables-1.10.20/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../lib/datatables-1.10.20/images/details_close.png') no-repeat center center;
}

/* Clase personalizada para la imagen del producto */
.product-image {
    width: 50px;  /* Tamaño por defecto */
    height: auto; /* Mantener la proporción de la imagen */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 767px) {
    .product-image {
        width: 30px;  /* Ajustar tamaño para móviles */
    }
}

/* Ajustes para tabletas */
@media (min-width: 768px) and (max-width: 991px) {
    .product-image {
        width: 50px;  /* Ajustar tamaño para tabletas */
    }
}
